<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>玄関の鍵のオートロック</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="鍵のオートロック" name="keywords">
  <meta content="鍵, オートロック, 自動" name="description">

  <!-- アイコン -->
  <link href="/static/image/key_icon.png" rel="icon">
  <link href="/static/image/key_icon.png" rel="apple-touch-icon">

  <!-- フォント -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- CSSファイル-->
  <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>
  <!-- タイトル -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"><b>***（サービス名）</b></a>
    </div>
  </div>

  <div id="headerwrap">
    <div class="container">
      <div class="row">
        
    <div class="holder">
            <div class="first"></div>
            <div class="second"></div>
            <div class="third"></div>

        <div class="col-xs-12 col-lg-7">
            <div class="col-xs-12 col-lg-6">
            <h2>ロックを解除</h2>
            <br/>
                <form method="POST">
                    <p>ID: <font color="black"></p><input type="text" name="id" placeholfer="userID"></font>
                    <br/>
                    <br/>
                    <p>パスワード: <font color="black"></font></p><input type="password" name="pwd" placeholder="Password">
                    <br/>
                    <br/>
                    <input type="submit" value="送信">
                    </font>
                </form>
            </div>
            <div class="col-xs-12 col-lg-6">
                <br/>
                <br/>
                <h2>ステータスを表示</h2>
                <br/>
                <form class="form-inline" role="form">
                    <button type="submit" class="btn btn-warning btn-lg" onClick="alert('{{ status }}');">Get status</button>
                </form>
            </div>
        </div>

        <div class="col-xs-12 col-lg-5">
            <br/>
          <img class="img-responsive" src="/static/image/key.png" alt="">
        </div>
    
    </div>

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /headerwrap -->

</body>
</html>
