<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>閉めルンです</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="鍵のオートロック" name="keywords">
  <meta content="鍵, オートロック, 自動, 閉めルンです" name="description">

  <!-- アイコン -->
  <link href="/static/image/key_icon.png" rel="icon">
  <link href="/static/image/key_icon.png" rel="apple-touch-icon">

  <!-- フォント -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- CSSファイル-->
  <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- タイトル -->
  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <a class="navbar-brand" href="#"><b>
              <p class="sample">閉めルンです</p>
          </b></a>
      </div>
    </div>

  <div id="headerwrap">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-lg-12">
            <font size=20rm>ロックが解除されました</font>
        </div>
        <br/>
        <br/>
        <br/>

        <div class="col-xs-12 col-lg-12">
            <h4><a href="/">ロック解除画面に戻る。</a></h4>
        </div>

        <div class="col-xs-12 col-lg-12">
            <br/>
            <br/>
            <img class="img-responsive" src="/static/image/opened.png" alt="">
        </div>

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /headerwrap -->

</body>
</html>
